@media screen and (max-width:375px) {
    .one {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        width: auto;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .button {
        float: right;
        background-color: turquoise;
        color: hsl(0, 4%, 5%);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-style: hidden;
        border-radius: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: x-small;
    }
    .pad {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .first {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        margin: auto;
        align-items: center;
        margin-bottom: 25px;
    }
    .head {
        display: flex;
        flex-direction: column;
        width:90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-style: groove;
        border-radius: 10px;
        margin-bottom: 15px;
        
    }
    
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
    }
    h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
    }
    .left {
        margin-bottom: 20px;
    }
    .right {
        margin-bottom: 20px;
    }
    .button2 {
        background-color:hsl(322, 100%, 66%);
        color: hsl(193, 100%, 96%);
        width: 70%;
        margin: 0 auto;
        display: block;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border-style: hidden;
        border-radius: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
    }
    .button3 {
        background-color:hsl(322, 100%, 66%);
        color: hsl(193, 100%, 96%);
        margin: auto;
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border-style: hidden;
        border-radius: 20px;
        font-family: 'Open Sans', sans-serif;
        display: block;
    }
    .position {
        background-color: white;
        position: relative;
        margin: 0 auto;
        top: 50px;
        width: 80%;
        padding: 30px;
        border-radius: 10px;
    }
    .footer {
        /* margin: auto; */
        width: auto;
        background-color: hsl(192, 100%, 9%);
        height: 600px;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
    .bottom-logo {
        filter: grayscale(100%);
        filter: brightness(0%);
        filter: invert(98%) sepia(100%) saturate(7%) hue-rotate(117deg) brightness(101%) contrast(102%);
    }
    .footer p {
        font-size: 15px;
        text-align: left;
    }
}